* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container {
    height: 100%;
    width: 100%;

}

.menu {
    display: flex;
    background-color: rgb(20, 4, 123);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

}

.main {
    position: relative;
    top: 50px;
    margin-left: 20px;
    padding: 10px;
}

.menu div {
    border-right: 2px solid white;
    display: flex;
    padding: 0 10px;
    height: 40px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;


}

p {
    margin-top: 10px;

}

.menu div:hover {
    background-color: rgb(189, 220, 187);

}

.menu div:hover a {
    color: black;
}

.main:hover {
    background-color: rgb(187, 235, 235);
}

.main:hover h1 {
    color: orchid;
}